[mysqld]

bind-address = 127.0.0.1

#basedir        = /opt/zimbra/common
datadir        = /opt/zimbra/db/data
socket         = /opt/zimbra/data/tmp/mysql/mysql.sock
pid-file       = /opt/zimbra/log/mysql.pid
port           = 7306
user           = zimbra
tmpdir         = /opt/zimbra/data/tmp

external-locking
slow_query_log = 1
slow_query_log_file = /opt/zimbra/log/myslow.log

general_log_file = /opt/zimbra/log/mysql-mailboxd.log
# general_log = 1

long_query_time  = 1
log_queries_not_using_indexes

thread_cache_size = 110
max_connections   = 110

# We do a lot of writes, query cache turns out to be not useful.
query_cache_type = 0
sort_buffer_size = 1048576
read_buffer_size = 1048576

# (Num mailbox groups * Num tables in each group) + padding
table_open_cache = 1200

innodb_data_file_path          = ibdata1:10M:autoextend
innodb_buffer_pool_size        = 4980203520
innodb_log_file_size           = 524288000
innodb_log_buffer_size         = 8388608
innodb_file_per_table

# Value is: 200 + max_connections + 2 * table_open_cache
innodb_open_files              = 2710

innodb_max_dirty_pages_pct     = 30
innodb_flush_method            = O_DIRECT
innodb_flush_log_at_trx_commit = 0
max_allowed_packet             = 16777216

[mysqld_safe]

log-error      = /opt/zimbra/log/mysqld.log
pid-file     = /opt/zimbra/log/mysql.pid
syslog
